<ion-header>
  <ion-navbar>
    <ion-title>
      My leaves
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list-header no-lines no-padding>
    <div style="margin-top:5px">
      <h6>Approver</h6>
      <h5>Steven Chong</h5>
    </div>
    <button class="leaveavai" ion-item (click)="show = !show" detail-none>
      <ion-icon item-right name="md-arrow-dropdown" *ngIf="!show"></ion-icon>
      <ion-icon item-right name="md-arrow-dropup" *ngIf="show"></ion-icon>
      Annual Leave availible: 8 days</button>
    <ion-item style="background-color:#4397C7" *ngIf="show">
      <ion-grid>
        <ion-row style="text-align:start;color:white">
          <ion-col>Annual</ion-col>
          <ion-col>11/14</ion-col>
          <ion-col>days</ion-col>
        </ion-row>
        <ion-row style="text-align:start;color:white">
          <ion-col>Time of in lieu</ion-col>
          <ion-col>11/14</ion-col>
          <ion-col>days</ion-col>
        </ion-row>
        <ion-row style="text-align:start;color:white">
          <ion-col>Medical</ion-col>
          <ion-col>11/14</ion-col>
          <ion-col>days</ion-col>
        </ion-row>
        <ion-row style="text-align:start;color:white">
          <ion-col>Maternity</ion-col>
          <ion-col>11/14</ion-col>
          <ion-col>days</ion-col>
        </ion-row>
        <ion-row style="text-align:start;color:white">
          <ion-col>Compassionate</ion-col>
          <ion-col>11/14</ion-col>
          <ion-col>days</ion-col>
        </ion-row>
        <ion-row style="text-align:start;color:white">
          <ion-col>Pilgrimage</ion-col>
          <ion-col>11/14</ion-col>
          <ion-col>days</ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    <div style="text-align: center;color:white">
      <span (click)="show = !show" style="background-color:#4397C7;border-radius:0px 0px 4px 4px">Details</span>
    </div>
    <div class="tab">
      <button (click)="tab_show = true" [ngClass]="tab_show ? 'active': 'non-active'">Apply</button>
      <button style="left: 50%;" (click)="tab_show = false" [ngClass]="!tab_show ? 'active': 'non-active'">Status</button>
    </div>
    <div *ngIf="tab_show">
      <ion-item>

        <ion-select item-end [(ngModel)]="gaming">
          <ion-option value="nes">NES</ion-option>
          <ion-option value="n64">Nintendo64</ion-option>
          <ion-option value="ps">PlayStation</ion-option>
          <ion-option value="genesis">Sega Genesis</ion-option>
          <ion-option value="saturn">Sega Saturn</ion-option>
          <ion-option value="snes">SNES</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="!tab_show">
      <ion-item>thang</ion-item>
      <ion-label>Application date: 20 sept 2018</ion-label>
      <ion-list>
        <ion-item>
          <ion-label>Gaming</ion-label>
          <ion-select [(ngModel)]="gaming">
            <ion-option value="nes">NES</ion-option>
            <ion-option value="n64">Nintendo64</ion-option>
            <ion-option value="ps">PlayStation</ion-option>
            <ion-option value="genesis">Sega Genesis</ion-option>
            <ion-option value="saturn">Sega Saturn</ion-option>
            <ion-option value="snes">SNES</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </ion-list-header>
</ion-content>